body {
  background-image: url("./image/rouge-linen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
hr {
  width: 100%;
}
h1,
h3,
span {
  font-style: oblique;
}
img {
  border-radius: 25px;
  float: left;
}
